.crearGIFO {
    text-align: center;
}

.camera,
.cameraLight,
.imgTape {
    position: absolute;
}

.camera {
    width: 160px;
    height: 160px;
    top: 240px;
    left: 145px
}

.cameraLight {
    top: 267px;
    left: 275px;
    width: 91px;
    height: 110px;
    // background-image: linear-gradient(267deg, rgba(136, 243, 226, 0.00) 22%, #50E3C2 100%);
}

.boxScreen {
    border: 1px solid #572EE5;
    width: 47.8%;
    height: 390px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

#videoScreen {
    width: 480px;
    height: 320px;
    border: solid 1px black;
    top: 150px;
    left: 32%;
    z-index: 1;
    position: absolute;
}

.boxBtnCreate {
    text-align: center;
}

.boxFirstMessage,
.boxSecondMessage {
    top: 250px;
    left: 37.5%;
    position: absolute;
}

.boxSecondMessage {
    display: none;
}

.lineBreak {
    font-size: 0;
    display: block;
}

.createTitle {
    font-size: 25px;
    color: #572EE5;
    font-family: 'ProximaNova-Bold';
    line-height: 15px;
    // margin-top: 138px;
}

#Gifos {
    color: #00F3BB;
}

.description {
    margin-top: 20px;
    font-size: 16px;
    font-family: 'ProximaNova-Regular';
    line-height: 10px;
}

.boxSteps {
    display: flex;
    margin-top: 24px;
    margin-left: 43%;
}

.boxStep {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid #572EE5;
    border-radius: 30px;
    margin-left: 13px;
    margin-right: 13px;
}

.step {
    font-size: 18px;
    color: #572EE5;
    font-family: 'ProximaNova-Bold';
}

.imgTape {
    top: 517px;
    left: 81%;
    width: 100px;
    height: 90px;
}

#barraInferior {
    position: absolute;
    left: 21%;
    margin-top: 19px;
    background: #572EE5;
    font-size: 2px;
    width: 795px;
    border-radius: 30px;
    height: 6.5px;
}

.btnCreate,
.btnRecord {
    margin-top: 46px;
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold';
    font-size: 13px;
    color: #572EE5;
    border-radius: 25px;
    border: 1px solid #572EE5;
    background: white;
    width: 127px;
    height: 50px;
}

.btnRecord {
    display: none;
}

.btnCreate:hover,
.btnRecord:hover {
    background: #572EE5;
    color: white;
}