.crearGIFO {
  text-align: center;
}

.camera,
.cameraLight,
.imgTape {
  position: absolute;
}

.camera {
  width: 160px;
  height: 160px;
  top: 240px;
  left: 145px;
}

.cameraLight {
  top: 267px;
  left: 275px;
  width: 91px;
  height: 110px;
  // background-image: linear-gradient(267deg, rgba(136, 243, 226, 0.00) 22%, #50E3C2 100%);
}

.boxScreen {
  border: 1px solid #572ee5;
  width: 47.8%;
  height: 390px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.boxVideo{
  width: 480px;
  height: 320px;
  position: relative;
  margin-left: 20%;
  margin-top: 3%;
 // background-color: #572ee5;
 // opacity: 0.6;
}

#videoScreen {
  width: 480px;
  height: 320px;
  border: solid 1px black;
  /* top: 150px;
  left: 32%;
  z-index: 0;
  position: absolute; */
}

.boxBtnCreate {
  width: 127px;
  text-align: center;
  margin-left: 45%;
}

.boxFirstMessage,
.boxSecondMessage,
.boxUploadingGif,
.boxUploadingSuccess {
  top: 100px;
  left: 18%;
  position: absolute;
}

.boxUploadingGif,
.boxUploadingSuccess{
  width: 200px;
  top: 120px;
  left: 35%;
}

.boxSecondMessage,
.boxUploadingGif,
.boxUploadingSuccess {
  display: none;
}

.lineBreak {
  font-size: 0;
  display: block;
}

.createTitle {
  font-size: 25px;
  color: #572ee5;
  font-family: "ProximaNova-Bold";
  line-height: 15px;
  // margin-top: 138px;
}

#Gifos {
  color: #00f3bb;
}

.description {
  margin-top: 20px;
  font-size: 16px;
  font-family: "ProximaNova-Regular";
  line-height: 10px;
}

.uploadingMessage,
.successMessage {
  font-family: "ProximaNova-Bold";
  font-size: 15px;
  color: #ffffff;
  //color: black;
  text-align: center;
  z-index: 3;
  padding-top: 15px;

}

.boxSteps {
  display: flex;
  margin-top: 24px;
  margin-left: 43%;
}

.boxStep {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #572ee5;
  border-radius: 30px;
  margin-left: 13px;
  margin-right: 13px;
}

.step {
  font-size: 18px;
  color: #572ee5;
  font-family: "ProximaNova-Bold";
}

.boxTimer {
  margin-left: 196px;
  font-family: "ProximaNova-Bold";
  color: #572ee5;
}
.repeatCapture {
  text-transform: uppercase;
  border-bottom: solid 2px #00f3bb;
  color: #572ee5;
  display: none;
}

.imgTape {
  top: 517px;
  left: 81%;
  width: 100px;
  height: 90px;
}

#barraInferior {
  position: absolute;
  left: 21%;
  margin-top: 19px;
  background: #572ee5;
  font-size: 2px;
  width: 795px;
  border-radius: 30px;
  height: 6.5px;
}

.btnCreate,
.btnRecord,
.btnStop,
.btnUpload {
  margin-top: 46px;
  text-transform: uppercase;
  font-family: "ProximaNova-Bold";
  font-size: 13px;
  color: #572ee5;
  border-radius: 25px;
  border: 1px solid #572ee5;
  background: white;
  width: 127px;
  height: 50px;
}

.btnRecord,
.btnStop,
.btnUpload {
  display: none;
}

.btnCreate:hover,
.btnRecord:hover,
.btnStop:hover,
.btnUpload:hover {
  background: #572ee5;
  color: white;
}
