.home {
    position: relative;
    width: 100%;
}

.boxMensajeInicio {
    width: 76.3%;
    //  height: 108px;
    margin-left: 12%;
}

#mensajeInicio {
    text-align: center;
    font-family: 'ProximaNova-Bold';
    color: #572EE5;
    line-height: 36px;
    font-size: 30px;
    #gifosWord {
        color: #00F3BB;
        order: 0;
    }
    order: 1;
}

.boxImgHome {
    margin-top: 27px;
    text-align: center;
    order: 0;
}

#imgHome {
    width: 72.8%;
    height: 130px;
    order: 0;
}

.boxBuscador {
    // position: absolute;
    top: 65%;
    display: flex;
    margin-left: 5%;
    text-align: center;
    border: solid #572EE5;
    border-radius: 30px;
    border-width: thin;
    width: 89%;
    align-items: center;
}

#buscador {
    height: 40px;
    border-radius: 20px;
    width: 87%;
    border: none;
    font-family: ProximaNova-Regular;
    text-align: center;
    font-size: 16px;
}

.btnBuscar {
    width: 30px;
    height: 30px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-image: url(../assets/icon-search.svg);
    border: none;
    background-color: white;
}

#imgLupa {
    padding-left: 1.5px;
}

.boxBusquedas {
    margin-top: 136px;
}

.boxTitleBusqueda {
    text-align: center;
    margin-bottom: 20px;
}

.titleBusqueda {
    font-size: 30px;
    font-family: 'ProximaNova-Bold';
    color: #572EE5;
}

.boxTrending {
    margin-top: 52px;
    margin-bottom: 102px;
    width: 62.9%;
    text-align: center;
    margin-left: 19.7%;
    color: #572EE5;
}

#tituloTrending {
    font-family: ProximaNova-Bold;
    font-size: 18px;
    line-height: 25px;
}

.infoTrending {
    font-family: ProximaNova-Regular;
    font-size: 18px;
    line-height: 25px;
}

@media (min-width: 375px) and (max-width: 768px) {
    .boxImgHome {
        margin-top: 30px;
    }
    #imgHome {
        width: 72.8%;
        height: 190px;
    }
    .boxBuscador {
        //   top: 63%;
        width: 90%;
        margin-left: 5%;
    }
    .boxTrending {
        margin-top: 15%;
    }
}

@media (min-width: 768.1px) {
    .boxMensajeInicio {
        margin-top: 75px;
        //      margin-left: 25%;
    }
    #mensajeInicio {
        width: 64.9%;
        height: 108px;
        font-size: 40px;
        line-height: 50px;
        padding-left: 20%;
    }
    .boxImgHome {
        margin-top: 50px;
    }
    #imgHome {
        width: 72.8%;
        height: 190px;
    }
    .boxBuscador {
        //top: 70%;
        width: 38.3%;
        margin-left: 30%;
    }
    .boxTrending {
        margin-top: 73px;
    }
}

@media (min-width: 768.1px) and (max-width: 1200px) {
    .boxMensajeInicio {
        margin-top: 75px;
        //margin-left: 25%;
    }
    #mensajeInicio {
        width: 64.9%;
        height: 108px;
        font-size: 40px;
        line-height: 50px;
    }
    .boxImgHome {
        margin-top: 50px;
    }
    #imgHome {
        width: 72.8%;
        height: 190px;
    }
    .boxBuscador {
        //      top: 73%;
        width: 58%;
        margin-left: 20%;
    }
    #buscador {
        width: 92%;
    }
    .boxTrending {
        margin-top: 73px
    }
}

@media (min-width: 1200px) {
    .boxBuscador {
        //   top: 73%;
        width: 40%;
        margin-left: 30%;
    }
    #buscador {
        width: 92%;
    }
}


/*
@media (min-width: 768.1px) and (max-width: 1200px) {}

@media (min-width: 768.1px) and (max-width: 1024px) {}

@media (min-width: 768.1px) and (max-width: 869px) {}*/