@media(max-width: 768px) {
    .boxBtnFavorite,
    .boxBtnDownload,
    .boxBtnMaximize,
    .tituloGif,
    .userGif {
        visibility: hidden;
    }
}

.boxBtnFavorite {
    position: absolute;
    background-color: white;
    border-radius: 6px;
    opacity: 0.7;
    width: 32px;
    height: 32px;
    top: 10px;
    left: 140px;
    text-align: center;
    z-index: 2;
    visibility: hidden;
}

.btnFavoriteGif {
    position: relative;
    border-radius: 6px;
    border: none;
    width: 32px;
    height: 32px;
}

.imgFavorite {
    border: none;
    border-radius: 6px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
}

.boxBtnFavorite:hover {
    background: white;
    opacity: 1;
    .imgFavoriteActive {
        visibility: visible;
    }
    .imgFavorite {
        visibility: hidden;
    }
}

.imgFavoriteActive {
    position: absolute;
    top: 7px;
    left: 7px;
    /*    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px; */
    visibility: hidden;
    width: 18px;
    height: 18px;
}

.boxBtnDownload {
    position: absolute;
    background-color: white;
    border-radius: 6px;
    opacity: 0.7;
    width: 32px;
    height: 32px;
    top: 10px;
    left: 180px;
    text-align: center;
    z-index: 2;
    visibility: hidden;
}

.boxBtnDownload:hover {
    background: white;
    opacity: 1;
}

.btnDownloadGif {
    border-radius: 6px;
    border: none;
    width: 32px;
    height: 32px;
}

.imgDownload {
    border: none;
    border-radius: 6px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
}

.boxBtnMaximize {
    position: absolute;
    background-color: white;
    border-radius: 6px;
    opacity: 0.7;
    width: 32px;
    height: 32px;
    top: 10px;
    left: 220px;
    text-align: center;
    z-index: 2;
    visibility: hidden;
}

.boxBtnMaximize:hover {
    background: white;
    opacity: 1;
}

.btnMaximizeGif {
    border-radius: 6px;
    border: none;
    width: 32px;
    height: 32px;
}

.imgMaximize {
    border: none;
    border-radius: 6px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
}

.userGif {
    position: absolute;
    top: 155px;
    left: 13px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'ProximaNova-Regular';
    color: white;
    text-shadow: 2px 2px 2px black;
    visibility: hidden;
    z-index: 3;
}

.tituloGif {
    position: absolute;
    top: 180px;
    left: 13px;
    font-size: 16px;
    font-family: 'ProximaNova-Bold';
    font-size: 15px;
    color: white;
    text-shadow: 2px 2px 2px black;
    visibility: hidden;
    z-index: 3;
}


/*
@media (max-width:768px) {
    .boxBtnFavorite,
    .boxBtnDownload,
    .boxBtnMaximize,
    .userGif,
    .tituloGif {
        visibility: hidden;
    }
}*/


/*
.boxBtnFavorite,
.boxBtnDownload,
.boxBtnMaximize,
.userGif,
.tituloGif {
    visibility: hidden;
}*/