footer {
    position: relative;
    text-align: center;
    height: 140px;
}

.textoCompartir {
    margin-top: 47px;
    font-family: 'ProximaNova-Regular';
    font-size: 13px;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
}

.boxIconosRedes {
    display: flex;
    width: 117px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 40px;
}

.iconoFooter {
    width: 20px;
    height: 20px;
}

.textoDerechos {
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
}

.barraSuperior {
    position: absolute;
    width: 100%;
    height: 5px;
    background: #572EE5;
}

@media (min-width: 768.1px) {
    footer {
        position: relative;
        //  text-align: center;
        height: 50px;
    }
    .textoCompartir {
        margin-top: 20px;
        font-family: 'ProximaNova-Regular';
        font-size: 13px;
        line-height: 18px;
        width: 10%;
    }
}