@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../Fonts/FontsFree-Net-Proxima-Nova-Bold.otf");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../Fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.barraSuperior {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #572EE5;
}

.imgBurger,
.imgClose {
  position: absolute;
}

.imgClose {
  visibility: hidden;
}

@media (max-width: 768px) {
  header {
    position: relative;
    height: 7.9%;
  }
  #logo {
    width: 48.8px;
    height: 48.8px;
    margin: 0;
    padding-left: 5.9%;
    padding-top: 34px;
    padding-bottom: 10px;
    z-index: 0;
    font-family: 'Roboto', sans-serif;
  }
  .navegacion a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 0 0 1em 0;
    line-height: 28px;
  }
  .navegacion a:hover {
    color: #494c5f;
  }
  .hamburguesa {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: 89.1%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }
  .navegacion {
    position: absolute;
    text-align: center;
    width: 100%;
    background: transparent;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  .navegacion a {
    color: white;
    font-size: 0;
  }
  .hamburguesa:checked ~ .nav .navegacion {
    height: 484px;
    position: static;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    background: #572EE5 100%;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    opacity: 95%;
  }
  .hamburguesa:checked ~ .nav .navegacion a {
    color: white;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 9px;
    line-height: 30px;
    font-family: 'ProximaNova-Bold';
    font-weight: 300;
    border-bottom: 1px solid white;
  }
  .imgBurger {
    top: 55px;
    left: 91%;
  }
  .imgClose {
    top: 55px;
    left: 91%;
  }
  .hamburguesa:checked ~ .imgBurger {
    visibility: hidden;
  }
  .hamburguesa:checked ~ .imgClose {
    visibility: visible;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .hamburguesa {
    left: 93%;
  }
  .linea {
    left: 93%;
  }
}

@media (min-width: 768.1px) {
  header {
    margin: 0;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
  }
  #logo {
    width: 59.1px;
    height: 59.1px;
    margin: 0;
    margin-left: 10.8%;
    margin-top: 40px;
    z-index: 0;
  }
  .hamburguesa {
    opacity: 0;
    z-index: -3;
  }
  .linea {
    opacity: 0;
    z-index: -3;
  }
  .navegacion {
    position: relative;
    padding-top: 40px;
    margin-left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    width: 100%;
  }
  .navegacion a {
    display: inline-block;
    text-decoration: none;
    font-family: ProximaNova-Bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #572EE5;
    margin-left: 48px;
    line-height: 28px;
  }
  .navegacion a:active {
    text-decoration: line-through;
    color: #060A24 56%;
  }
  .navegacion a:hover {
    text-decoration: line-through;
    color: #00F3BB;
  }
  .boxBtnMas {
    width: 54px;
    height: 54px;
    margin-left: 64px;
    text-align: center;
    border: solid #572EE5;
    border-radius: 30px;
    border-width: thin;
  }
  .imagenMas {
    padding-top: 18px;
    width: 16px;
    height: 16px;
  }
  .imgBurger {
    z-index: -1;
  }
}

@media (min-width: 1200px) {
  .navegacion {
    margin-left: 45%;
  }
}

@media (min-width: 768.1px) and (max-width: 1200px) {
  .navegacion {
    margin-left: 35%;
  }
}

@media (min-width: 768.1px) and (max-width: 1024px) {
  .navegacion {
    margin-left: 25%;
  }
}

@media (min-width: 768.1px) and (max-width: 869px) {
  .navegacion {
    margin-left: 15%;
  }
}
/*# sourceMappingURL=header.css.map */