@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.home {
  position: relative;
  width: 100%;
}

.boxMensajeInicio {
  width: 76.3%;
  margin-left: 12%;
}

#mensajeInicio {
  text-align: center;
  font-family: 'ProximaNova-Bold';
  color: #572EE5;
  line-height: 36px;
  font-size: 30px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#mensajeInicio #gifosWord {
  color: #00F3BB;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.boxImgHome {
  margin-top: 27px;
  text-align: center;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

#imgHome {
  width: 72.8%;
  height: 130px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.boxBuscador {
  position: relative;
  top: 65%;
  margin-left: 5%;
  text-align: center;
  border: solid #572EE5;
  border-radius: 30px;
  border-width: thin;
  width: 89%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxGlobalSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#leftSearchIcon {
  margin-left: 15px;
}

.icon-icon-search {
  width: 20px;
  height: 20px;
  font-size: 25px;
  margin-top: 7.6px;
  margin-bottom: 7.6px;
  margin-left: 15px;
  margin-right: 16px;
  margin-top: 12px;
  color: #9CAFC3;
}

.separator {
  position: absolute;
  width: 94%;
  top: 50px;
  left: 3%;
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  visibility: hidden;
}

.boxSuggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listSuggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: left;
  margin-bottom: 18px;
}

.itemSuggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buscador {
  height: 40px;
  border-radius: 20px;
  width: 84%;
  border: none;
  font-family: 'ProximaNova-Regular';
  text-align: left;
  font-size: 18px;
  outline: transparent;
}

.btnBuscar {
  width: 30px;
  height: 30px;
  margin-top: 9px;
  background-size: 25px 25px;
  border: none;
  background-color: white;
}

.icon-icon-search {
  color: #572EE5;
}

#imgLupa {
  padding-left: 1.5px;
}

.suggestion {
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  color: #9CAFC3;
  height: 20px;
  width: 50px;
}

.boxBusquedas {
  position: relative;
  margin-top: 55px;
}

.boxSeparatorSearch {
  padding-bottom: 81.9px;
}

.separatorSearch {
  position: absolute;
  width: 23.5%;
  left: 38.3%;
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  opacity: 0.5;
  visibility: hidden;
}

.boxTitleBusqueda {
  text-align: center;
  margin-bottom: 59px;
}

.titleBusqueda {
  font-size: 35px;
  font-family: 'ProximaNova-Bold';
  color: #572EE5;
}

.boxWithoutResults {
  text-align: center;
  margin-bottom: 137px;
}

.imgWithoutResults {
  width: 150px;
  height: 150px;
  margin-top: 54px;
  margin-bottom: 29px;
}

.tryAgainMessage {
  font-family: 'ProximaNova-Bold';
  font-size: 22px;
  color: #50E3C2;
  line-height: 25px;
}

.boxTrending {
  margin-top: 52px;
  margin-bottom: 102px;
  width: 62.9%;
  text-align: center;
  margin-left: 19.7%;
  color: #572EE5;
}

#tituloTrending {
  font-family: ProximaNova-Bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 7px;
}

.boxWordsTrending {
  width: 50%;
  margin-left: 25%;
}

.infoTrending {
  margin-left: 10px;
  font-family: ProximaNova-Regular;
  font-size: 18px;
  line-height: 25px;
}

.infoTrending:hover {
  text-decoration: underline;
}

@media (min-width: 375px) and (max-width: 768px) {
  .boxImgHome {
    margin-top: 30px;
  }
  #imgHome {
    width: 72.8%;
    height: 190px;
  }
  .boxBuscador {
    width: 90%;
    margin-left: 5%;
  }
  .boxTrending {
    margin-top: 15%;
  }
}

@media (min-width: 768.1px) {
  .boxMensajeInicio {
    margin-top: 75px;
  }
  #mensajeInicio {
    width: 64.9%;
    height: 108px;
    font-size: 40px;
    line-height: 50px;
    padding-left: 20%;
  }
  .boxImgHome {
    margin-top: 50px;
  }
  #imgHome {
    width: 72.8%;
    height: 190px;
  }
  .boxBuscador {
    width: 38.3%;
    margin-left: 30%;
  }
  .boxTrending {
    margin-top: 73px;
  }
}

@media (min-width: 768.1px) and (max-width: 1200px) {
  .boxMensajeInicio {
    margin-top: 75px;
  }
  #mensajeInicio {
    width: 64.9%;
    height: 108px;
    font-size: 40px;
    line-height: 50px;
  }
  .boxImgHome {
    margin-top: 50px;
  }
  #imgHome {
    width: 72.8%;
    height: 190px;
  }
  .boxBuscador {
    width: 58%;
    margin-left: 20%;
  }
  #buscador {
    width: 81%;
  }
  .boxTrending {
    margin-top: 73px;
  }
}

@media (min-width: 1200px) {
  .boxBuscador {
    width: 40%;
    margin-left: 30%;
  }
  #buscador {
    width: 81%;
  }
}

/*
@media (min-width: 768.1px) and (max-width: 1200px) {}

@media (min-width: 768.1px) and (max-width: 1024px) {}

@media (min-width: 768.1px) and (max-width: 869px) {}*/
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../Fonts/FontsFree-Net-Proxima-Nova-Bold.otf");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../Fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.barraSuperior {
  position: absolute;
  width: 100%;
  height: 10px;
  background: #572EE5;
}

.icon-burger,
.icon-button-close {
  position: absolute;
}

.icon-button-close {
  visibility: hidden;
}

#anchorCrearGif {
  width: 60px;
  height: 100%;
  color: white;
}

.icon-button-crear-gifo {
  position: absolute;
  top: 16px;
  left: 18px;
  font-size: 18px;
  color: white;
}

@media (max-width: 768px) {
  header {
    position: relative;
    height: 7.9%;
    color: #37383C;
  }
  #logo {
    width: 48.8px;
    height: 48.8px;
    margin: 0;
    padding-left: 5.9%;
    padding-top: 34px;
    padding-bottom: 10px;
    z-index: 0;
    font-family: 'Roboto', sans-serif;
  }
  #anchorInicio {
    padding-left: 10.8%;
  }
  .navegacion .anchorMenu {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 0 0 1em 0;
    line-height: 28px;
  }
  .navegacion a:hover {
    color: #494c5f;
  }
  .hamburguesa {
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: 89.1%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }
  .navegacion {
    position: absolute;
    text-align: center;
    width: 100%;
    background: transparent;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  .navegacion a {
    color: white;
    font-size: 0;
  }
  .hamburguesa:checked ~ .nav .navegacion {
    height: 484px;
    position: static;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    background: #572EE5 100%;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    opacity: 95%;
  }
  .hamburguesa:checked ~ .nav .navegacion a {
    color: white;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 9px;
    line-height: 30px;
    font-family: 'ProximaNova-Bold';
    font-weight: 300;
    border-bottom: 1px solid white;
  }
  /*  .icon-burger {
        top: 55px;
        left: 93%;
    } */
  .icon-button-close,
  .icon-burger {
    top: 55px;
    left: 93.5%;
  }
  .hamburguesa:checked ~ .icon-burger {
    visibility: hidden;
  }
  .hamburguesa:checked ~ .icon-button-close {
    visibility: visible;
  }
  /*   .icon-button-crear-gifo {
        display: none;
    } */
  .boxBtnMas {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .hamburguesa {
    left: 93%;
  }
  .linea {
    left: 93%;
  }
}

@media (min-width: 768.1px) {
  header {
    margin: 0;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
  }
  #logo {
    width: 59.1px;
    height: 59.1px;
    margin: 0;
    margin-left: 10.8%;
    margin-top: 40px;
    z-index: 0;
  }
  #anchorInicio {
    padding-left: 9.5%;
  }
  .hamburguesa {
    opacity: 0;
    z-index: -3;
  }
  .linea {
    opacity: 0;
    z-index: -3;
  }
  .navegacion {
    position: relative;
    padding-top: 40px;
    margin-left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    width: 100%;
  }
  .navegacion .anchorMenu {
    display: inline-block;
    text-decoration: none;
    font-family: ProximaNova-Bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #572EE5;
    margin-left: 48px;
    line-height: 28px;
  }
  .navegacion a:active {
    text-decoration: line-through;
    color: #060A24 56%;
  }
  .navegacion a:hover {
    color: #9CAFC3;
  }
  .boxBtnMas {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 54px;
    height: 54px;
    margin-left: 64px;
    text-align: center;
    border: solid #572EE5;
    border-radius: 30px;
    border-width: thin;
  }
  .boxBtnMas:hover {
    background-color: #572EE5;
  }
  .boxBtnMas:hover #anchorCrearGif {
    color: #572EE5;
  }
  .boxBtnMas:hover .icon-button-crear-gifo {
    color: white;
  }
  .icon-button-crear-gifo {
    line-height: 500px;
    font-size: 18px;
    color: #572EE5;
  }
}

.icon-burger {
  z-index: -1;
}

@media (min-width: 1200px) {
  .navegacion {
    margin-left: 45%;
  }
}

@media (min-width: 768.1px) and (max-width: 1200px) {
  .navegacion {
    margin-left: 35%;
  }
}

@media (min-width: 768.1px) and (max-width: 1024px) {
  .navegacion {
    margin-left: 25%;
  }
}

@media (min-width: 768.1px) and (max-width: 869px) {
  .navegacion {
    margin-left: 15%;
  }
}

.trendingGIFOS {
  position: relative;
  background-color: #F3F5F8;
  height: 570px;
}

.boxTrendingGIFOS {
  width: 88%;
  text-align: center;
  padding-top: 65px;
  margin-left: 5.6%;
  margin-bottom: 53px;
}

#tituloTrendingGIFOS {
  font-family: 'ProximaNova-Bold';
  color: #572EE5;
  font-size: 25px;
}

.info {
  margin-top: 9px;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  line-height: 23px;
}

.carrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxGIFOS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
}

/*
.cardGIF,
.gif {
    // width: 337px;
    //height: 255px;
    //z-index: 4;
}*/
.gifo:hover {
  opacity: 0.2;
  background-image: #572EE5;
}

.gifo:hover .carGifo {
  background: #572EE5;
}

.cardGIF {
  position: relative;
  margin-top: 32px;
  margin-left: 22px;
}

.btnAtras,
.btnSiguiente {
  visibility: hidden;
}

@media (min-width: 780.1px) {
  .btnAtras {
    visibility: visible;
    width: 40px;
    height: 40px;
    border: none;
    color: #572EE5;
  }
  .boxBtnAtras {
    visibility: visible;
    width: 40px;
    height: 40px;
    border: 1px solid #572EE5;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 94px;
    margin-right: 25px;
  }
  .btnSiguiente {
    visibility: visible;
    width: 40px;
    height: 40px;
    border: none;
    color: #572EE5;
  }
  .boxBtnSiguiente {
    visibility: visible;
    width: 40px;
    height: 40px;
    border: 1px solid #572EE5;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
    margin-right: 85px;
  }
  .btnAtras:hover,
  .btnSiguiente:hover {
    background-color: #572EE5;
  }
  .btnAtras:hover .icon-button-left,
  .btnAtras:hover .icon-button-right,
  .btnSiguiente:hover .icon-button-left,
  .btnSiguiente:hover .icon-button-right {
    color: white;
  }
  .boxGIFOS {
    overflow: hidden;
  }
}

footer {
  position: relative;
  text-align: center;
  height: 140px;
}

.textoCompartir {
  margin-top: 47px;
  font-family: 'ProximaNova-Regular';
  font-size: 13px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
}

.boxIconosRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 117px;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 24px;
  margin-bottom: 40px;
}

.iconoFooter {
  width: 20px;
  height: 20px;
}

.textoDerechos {
  font-size: 14px;
  font-family: 'ProximaNova-Regular';
}

.barraSuperior {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #572EE5;
}

@media (min-width: 768.1px) {
  footer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
  }
  .textoCompartir {
    margin-left: 156px;
    margin-right: 0;
    margin-top: 49.5px;
    font-family: 'ProximaNova-Regular';
    font-size: 13px;
    line-height: 18px;
  }
  .boxIconosRedes {
    margin-top: 49.5px;
    margin-left: 18px;
    margin-right: 0;
  }
  .textoDerechos {
    margin-top: 49.5px;
    margin-left: 45%;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
  }
  .iconoTwitter {
    fill: #572EE5;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .boxImgGifos {
    margin-top: 11px;
    text-align: center;
  }
  .titleGifos {
    font-family: 'ProximaNova-Bold';
    color: #572EE5;
    padding-top: 8px;
    font-size: 25px;
  }
  .boxCardsFavoritas,
  .boxCardsBusquedas,
  .boxCardsMisGifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 36px;
    margin-left: 3%;
    text-align: center;
  }
  .cardGifo,
  .gifo {
    min-width: 130px;
    min-height: 100px;
    width: 40%;
    height: 120px;
  }
  .cardGifo {
    position: relative;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 25px;
  }
  .cardGifo:hover {
    background-color: #572EE5;
  }
  .cardGifo:hover > .gifo {
    opacity: 60%;
  }
  .boxBtnShowMore {
    text-align: center;
    margin-top: 78px;
    margin-bottom: 79px;
  }
  .btnShowMore {
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold';
    font-size: 13px;
    color: #572EE5;
    border-radius: 25px;
    border: 1px solid #572EE5;
    background: white;
    width: 127px;
    height: 50px;
  }
}

@media (min-width: 425.1px) and (max-width: 768px) {
  .boxImgGifos {
    margin-top: 11px;
    text-align: center;
  }
  .titleGifos {
    font-family: 'ProximaNova-Bold';
    color: #572EE5;
    padding-top: 8px;
    font-size: 25px;
  }
  .boxCardsFavoritas,
  .boxCardsBusquedas,
  .boxCardsMisGifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 36px;
    margin-left: 5%;
  }
  .cardGifo,
  .gifo {
    min-width: 160px;
    min-height: 120px;
    width: 156px;
    height: 120px;
  }
  .cardGifo {
    position: relative;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 25px;
  }
  .cardGifo:hover {
    background-color: #572EE5;
  }
  .cardGifo:hover > .gifo {
    opacity: 60%;
  }
  .boxBtnShowMore {
    text-align: center;
    margin-top: 78px;
    margin-bottom: 79px;
  }
  .btnShowMore {
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold';
    font-size: 13px;
    color: #572EE5;
    border-radius: 25px;
    border: 1px solid #572EE5;
    background: white;
    width: 127px;
    height: 50px;
  }
}

@media (min-width: 768.1px) and (max-width: 1024px) {
  .boxImgGifos {
    margin-top: 11px;
    text-align: center;
  }
  .titleGifos {
    font-family: 'ProximaNova-Bold';
    color: #572EE5;
    padding-top: 8px;
    font-size: 25px;
  }
  .boxCardsFavoritas,
  .boxCardsBusquedas,
  .boxCardsMisGifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 36px;
    margin-left: 5%;
  }
  .cardGifo,
  .gifo {
    min-width: 160px;
    min-height: 120px;
    width: 156px;
    height: 120px;
  }
  .cardGifo {
    position: relative;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 25px;
  }
  .cardGifo:hover {
    background-color: #572EE5;
  }
  .cardGifo:hover .boxBtnFavorite,
  .cardGifo:hover .boxBtnDownload,
  .cardGifo:hover .boxBtnMaximize,
  .cardGifo:hover .userGif,
  .cardGifo:hover .tituloGif {
    visibility: visible;
  }
  /*   .cardGifoFavAct:hover {
        background-color: #572EE5;
        .boxBtnFavorite,
        .boxBtnDownload,
        .boxBtnMaximize,
        .userGif,
        .tituloGif {
            visibility: visible;
        }
    } */
  .cardGifo:hover > .gifo {
    opacity: 60%;
  }
  .boxBtnShowMore {
    text-align: center;
    margin-top: 78px;
    margin-bottom: 79px;
  }
  .btnShowMore {
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold';
    font-size: 13px;
    color: #572EE5;
    border-radius: 25px;
    border: 1px solid #572EE5;
    background: white;
    width: 127px;
    height: 50px;
  }
  .btnShowMore:hover {
    color: white;
    background-color: #572EE5;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .boxImgGifos {
    margin-top: 11px;
    text-align: center;
  }
  .titleGifos {
    font-family: 'ProximaNova-Bold';
    color: #572EE5;
    padding-top: 8px;
    font-size: 25px;
  }
  .boxCardsFavoritas,
  .boxCardsBusquedas,
  .boxCardsMisGifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 36px;
  }
  .cardGifo,
  .gifo {
    max-width: 230px;
    max-height: 230px;
    width: 260px;
    height: 230px;
  }
  .cardGifo {
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 35px;
  }
  .cardGifo:hover {
    background-color: #572EE5;
  }
  .cardGifo:hover .boxBtnFavorite,
  .cardGifo:hover .boxBtnDownload,
  .cardGifo:hover .boxBtnMaximize,
  .cardGifo:hover .userGif,
  .cardGifo:hover .tituloGif {
    visibility: visible;
  }
  .cardGifo:hover > .gifo {
    opacity: 60%;
  }
  .boxBtnShowMore {
    text-align: center;
    margin-top: 78px;
    margin-bottom: 79px;
  }
  .btnShowMore {
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold';
    font-size: 13px;
    color: #572EE5;
    border-radius: 25px;
    border: 1px solid #572EE5;
    background: white;
    width: 127px;
    height: 50px;
  }
  .btnShowMore:hover {
    color: white;
    background-color: #572EE5;
  }
}

@media (min-width: 1200px) {
  .boxImgGifos {
    margin-top: 11px;
    text-align: center;
  }
  .titleGifos {
    font-family: 'ProximaNova-Bold';
    color: #572EE5;
    padding-top: 8px;
    font-size: 25px;
  }
  .boxCardsFavoritas,
  .boxCardsBusquedas,
  .boxCardsMisGifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 36px;
    text-align: center;
  }
  .cardGifo,
  .gifo {
    max-width: 260px;
    max-height: 230px;
    width: 260px;
    height: 230px;
    z-index: 2;
  }
  .cardGifo {
    position: relative;
    margin-left: 19.5px;
    margin-right: 19.5px;
    margin-bottom: 35px;
  }
  .cardGifo:hover {
    background-color: #572EE5;
  }
  .cardGifo:hover .boxBtnFavorite,
  .cardGifo:hover .boxBtnDownload,
  .cardGifo:hover .boxBtnMaximize,
  .cardGifo:hover .userGif,
  .cardGifo:hover .tituloGif {
    visibility: visible;
  }
  .cardGifo:hover > .gifo {
    opacity: 60%;
  }
  .boxBtnShowMore {
    text-align: center;
    margin-top: 78px;
    margin-bottom: 79px;
  }
  .btnShowMore {
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold';
    font-size: 13px;
    color: #572EE5;
    border-radius: 25px;
    border: 1px solid #572EE5;
    background: white;
    width: 127px;
    height: 50px;
  }
  .btnShowMore:hover {
    color: white;
    background-color: #572EE5;
  }
}

@media (max-width: 768px) {
  .boxBtnFavorite,
  .boxBtnDownload,
  .boxBtnMaximize,
  .tituloGif,
  .userGif {
    visibility: hidden;
  }
}

.boxBtnFavorite {
  position: absolute;
  background-color: white;
  border-radius: 6px;
  opacity: 0.7;
  width: 32px;
  height: 32px;
  top: 10px;
  left: 140px;
  text-align: center;
  z-index: 2;
  visibility: hidden;
}

.btnFavoriteGif {
  position: relative;
  border-radius: 6px;
  border: none;
  width: 32px;
  height: 32px;
}

.imgFavorite {
  border: none;
  border-radius: 6px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 4px;
}

.boxBtnFavorite:hover {
  background: white;
  opacity: 1;
}

.boxBtnFavorite:hover .imgFavoriteActive {
  visibility: visible;
}

.boxBtnFavorite:hover .imgFavorite {
  visibility: hidden;
}

.imgFavoriteActive {
  position: absolute;
  top: 7px;
  left: 7px;
  /*    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px; */
  visibility: hidden;
  width: 18px;
  height: 18px;
}

.boxBtnDownload {
  position: absolute;
  background-color: white;
  border-radius: 6px;
  opacity: 0.7;
  width: 32px;
  height: 32px;
  top: 10px;
  left: 180px;
  text-align: center;
  z-index: 2;
  visibility: hidden;
}

.boxBtnDownload:hover {
  background: white;
  opacity: 1;
}

.btnDownloadGif {
  border-radius: 6px;
  border: none;
  width: 32px;
  height: 32px;
}

.imgDownload {
  border: none;
  border-radius: 6px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 4px;
}

.boxBtnMaximize {
  position: absolute;
  background-color: white;
  border-radius: 6px;
  opacity: 0.7;
  width: 32px;
  height: 32px;
  top: 10px;
  left: 220px;
  text-align: center;
  z-index: 2;
  visibility: hidden;
}

.boxBtnMaximize:hover {
  background: white;
  opacity: 1;
}

.btnMaximizeGif {
  border-radius: 6px;
  border: none;
  width: 32px;
  height: 32px;
}

.imgMaximize {
  border: none;
  border-radius: 6px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 4px;
}

.userGif {
  position: absolute;
  top: 155px;
  left: 13px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'ProximaNova-Regular';
  color: white;
  text-shadow: 2px 2px 2px black;
  visibility: hidden;
  z-index: 3;
}

.tituloGif {
  position: absolute;
  top: 180px;
  left: 13px;
  font-size: 16px;
  font-family: 'ProximaNova-Bold';
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px 2px black;
  visibility: hidden;
  z-index: 3;
}

/*
@media (max-width:768px) {
    .boxBtnFavorite,
    .boxBtnDownload,
    .boxBtnMaximize,
    .userGif,
    .tituloGif {
        visibility: hidden;
    }
}*/
/*
.boxBtnFavorite,
.boxBtnDownload,
.boxBtnMaximize,
.userGif,
.tituloGif {
    visibility: hidden;
}*/
.crearGIFO {
  text-align: center;
}

.camara,
.luzCamara,
.imgCinta {
  position: absolute;
}

.camara {
  width: 160px;
  height: 160px;
  top: 240px;
  left: 145px;
}

.luzCamara {
  top: 267px;
  left: 275px;
  width: 91px;
  height: 110px;
}

.boxScreen {
  border: 1px solid #572EE5;
  width: 47.8%;
  height: 390px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.saltoLinea {
  font-size: 0;
  display: block;
}

.tituloCrear {
  font-size: 25px;
  color: #572EE5;
  font-family: 'ProximaNova-Bold';
  line-height: 15px;
  margin-top: 138px;
}

#Gifos {
  color: #00F3BB;
}

.descripcion {
  margin-top: 20px;
  font-size: 16px;
  font-family: 'ProximaNova-Regular';
  line-height: 10px;
}

.boxPasos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-left: 43%;
}

.boxPaso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #572EE5;
  border-radius: 30px;
  margin-left: 13px;
  margin-right: 13px;
}

.paso {
  font-size: 18px;
  color: #572EE5;
  font-family: 'ProximaNova-Bold';
}

.imgCinta {
  top: 517px;
  left: 81%;
  width: 100px;
  height: 90px;
}

#barraInferior {
  position: absolute;
  left: 21%;
  margin-top: 19px;
  background: #572EE5;
  font-size: 2px;
  width: 795px;
  border-radius: 30px;
  height: 6.5px;
}

.btnComenzar {
  margin-top: 46px;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  font-size: 13px;
  color: #572EE5;
  border-radius: 25px;
  border: 1px solid #572EE5;
  background: white;
  width: 127px;
  height: 50px;
}

.modalWindow {
  width: 100%;
  height: 2000px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 9;
  display: none;
}

.boxCloseModal .icon-button-close {
  visibility: visible;
}

.boxCloseModal {
  width: 100%;
}

.btnCloseMax {
  margin-top: 66.4px;
  margin-left: 80%;
  margin-bottom: 78.4px;
  border: none;
  background-color: white;
  width: 15.2px;
  height: 15.2px;
}

.contentModal {
  width: 695px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 25%;
  -webkit-animation-name: modal;
          animation-name: modal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes modal {
  from {
    top: -330px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes modal {
  from {
    top: -330px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.imageMax {
  width: 695px;
  height: 385px;
}

.userMax {
  font-size: 15px;
  font-family: 'ProximaNova-Regular';
  margin-top: 27px;
  margin-bottom: 6px;
}

.titleMax {
  font-size: 16px;
  font-family: 'ProximaNova-Bold';
}

.boxIcons {
  position: absolute;
  top: 27.5%;
  left: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93px;
  margin-top: 27px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boxBtnFavoriteMax {
  position: relative;
  background-color: white;
  border-radius: 6px;
  opacity: 0.7;
  width: 32px;
  height: 32px;
  z-index: 2;
}

.btnFavoriteGifMax {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #9CAFC3;
  width: 32px;
  height: 32px;
}

.imgFavoriteMax {
  border: none;
  border-radius: 6px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 4px;
}

.boxBtnFavoriteMax:hover {
  background: white;
  opacity: 1;
}

.boxBtnFavoriteMax:hover .imgFavoriteActiveMax {
  visibility: visible;
}

.boxBtnFavoriteMax:hover .imgFavoriteMax {
  visibility: hidden;
}

.imgFavoriteActiveMax {
  position: absolute;
  top: 7px;
  left: 7px;
  visibility: hidden;
  width: 18px;
  height: 18px;
}

.boxBtnDownloadMax {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #9CAFC3;
  opacity: 0.7;
  width: 32px;
  text-align: center;
  height: 32px;
  z-index: 2;
}

.boxBtnDownloadMax:hover {
  background: white;
  opacity: 1;
}

.btnDownloadGifMax {
  border-radius: 6px;
  border: none;
  width: 32px;
  height: 32px;
}

.imgDownloadMax {
  border: none;
  border-radius: 6px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 4px;
}

.darkMode {
  background-color: #37383C;
}

.darkMode .barraSuperior {
  background: #37383C;
}

.darkMode header {
  background-color: #37383C;
}

.darkMode .hamburguesa:checked ~ .nav .navegacion {
  background: black;
}

.darkMode .hamburguesa:checked ~ .nav .navegacion a {
  border-bottom: none;
}

.darkMode .icon-button-close,
.darkMode .icon-burger {
  background: white;
  color: white;
}

.darkMode .icon-icon-search {
  color: white;
}

.darkMode #mensajeInicio {
  color: white;
}

.darkMode #logo {
  content: url("../assets/logo-desktop-modo-noc.svg");
}

.darkMode .anchorMenu {
  color: white;
}

.darkMode .anchorMenu:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #5ED7C6;
          text-decoration-color: #5ED7C6;
  -webkit-text-decoration-line: 6px;
          text-decoration-line: 6px;
  color: white;
}

.darkMode #anchorCrearGif {
  width: 60px;
  height: 100%;
  color: white;
}

.darkMode .boxBtnMas {
  border: solid white;
}

.darkMode .icon-button-crear-gifo {
  color: white;
}

.darkMode .boxBtnMas:hover {
  background-color: white;
}

.darkMode .boxBtnMas:hover .icon-button-crear-gifo {
  color: #37383C;
}

.darkMode #buscador {
  background-color: #37383C;
  color: white;
}

.darkMode .btnBuscar {
  background-color: #37383C;
  color: white;
}

.darkMode .boxBuscador {
  border: 1px solid white;
}

.darkMode .boxTrending,
.darkMode .boxBusquedas,
.darkMode .titleBusqueda {
  color: white;
}

.darkMode .btnShowMore {
  color: white;
  border: 1px solid white;
  background: #37383C;
}

.darkMode .btnShowMore:hover {
  color: #37383C;
  border: 1px solid white;
  background: white;
}

.darkMode .trendingGIFOS {
  background: #222326;
  color: white;
}

.darkMode .trendingGIFOS #tituloTrendingGIFOS {
  color: white;
}

.darkMode .boxBtnAtras,
.darkMode .boxBtnSiguiente {
  border: none;
}

.darkMode .btnAtras,
.darkMode .btnSiguiente {
  background: #222326;
  color: white;
  border: 1px solid white;
}

.darkMode .btnAtras:hover,
.darkMode .btnSiguiente:hover {
  background: white;
  color: #222326;
}

.darkMode .btnAtras:hover .icon-button-left,
.darkMode .btnAtras:hover .icon-button-right,
.darkMode .btnSiguiente:hover .icon-button-left,
.darkMode .btnSiguiente:hover .icon-button-right {
  color: #37383C;
}

.darkMode footer {
  color: white;
}

.darkMode .titleGifos,
.darkMode .tituloCrear {
  color: white;
}

.darkMode .boxScreen {
  border: 1px solid white;
  color: white;
}

.darkMode .camara {
  content: url("../assets/camara-modo-noc.svg");
}

.darkMode .imgCinta {
  content: url("../assets/pelicula-modo-noc.svg");
}

.darkMode .btnComenzar {
  color: white;
  border: 1px solid white;
  background: #37383C;
}

.darkMode .btnComenzar:hover {
  background: white;
  color: #37383C;
}

.darkMode #barraInferior {
  background: white;
}

.darkMode .boxPaso {
  border: 1px solid white;
}

.darkMode .boxPaso:hover {
  background: white;
}

.darkMode .boxPaso:hover .paso {
  color: #37383C;
}

.darkMode .paso {
  color: white;
}

@media (max-width: 768px) {
  .darkMode .icon-button-crear-gifo {
    display: none;
  }
}
/*# sourceMappingURL=Styles.css.map */