.trendingGIFOS {
    position: relative;
    background-color: #F3F5F8;
    height: 600px;
}

.boxTrendingGIFOS {
    width: 88%;
    text-align: center;
    padding-top: 65px;
    margin-left: 5.6%;
}

#tituloTrendingGIFOS {
    font-family: 'ProximaNova-Bold';
    color: #572EE5;
    font-size: 25px;
}

.info {
    margin-top: 9px;
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    line-height: 23px;
}

.carrusel {
    display: flex;
}

.boxGIFOS {
    display: flex;
    overflow: scroll;
    // overflow: hidden;
}

.cardGIF,
.gif {
    width: 337px;
    height: 255px;
    z-index: 4;
}


/*
.gif:hover {
    //pacity: 0.2;
    //background-color: #572EE5;
}*/

.cardGIF {
    position: relative;
    margin-top: 32px;
    margin-left: 22px;
}

.btnAtras,
.btnSiguiente {
    visibility: hidden;
}

@media (min-width:780.1px) {
    .btnAtras {
        visibility: visible;
    }
    .boxBtnAtras {
        visibility: visible;
        width: 25px;
        height: 15px;
        border: 1px solid #572EE5;
        padding: 10px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 94px;
        margin-right: 25px;
    }
    .btnSiguiente {
        visibility: visible;
    }
    .boxBtnSiguiente {
        visibility: visible;
        width: 25px;
        height: 15px;
        border: 1px solid #572EE5;
        padding: 10px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 25px;
        margin-right: 85px;
    }
    .boxBtnAtras:hover,
    .boxBtnSiguiente:hover {
        opacity: 1;
        background: #572EE5;
        //background: #572EE5;
        .btnSiguiente {
            fill: sienna;
        }
    }
    .boxGIFOS {
        overflow: hidden;
    }
}